body{
    background-color:#d6d0b8;
}
#edit{
    background-color: #ffcebb;
}
.welcome{
    text-shadow: 3px 3px 10px white;
}
*{
    margin:0px;
    padding:0px;
    font-family: 'Josefin Sans', sans-serif;
}